
<main class="main">
    <div class="content">

 
<div class="gallery">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
    <img src="https://assets.codepen.io/8889025/Collabrorative.PNG" alt="a hot air balloon">
    <img src="https://assets.codepen.io/8889025/Adventurous.PNG">
    <img src="https://assets.codepen.io/8889025/Reliable.PNG" alt="a small boat">
    <img src="https://assets.codepen.io/8889025/Energetic.PNG" alt="a forest">
</div>
<br><a href="https://nhsbsauk.sharepoint.com.mcas.ms/sites/MyHub/SitePages/Our-Purpose-Vision-and-Values.aspx"
    target="_blank" class="btn btn-primary btn-block" role="button">Our Purpose, Vision and Values</a>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>


  </div>
</main>
