
<div id="nav">
  <div id="globalSearch">
    <app-nav-search></app-nav-search>
  </div>
  
<ul>
    <li><a appPreviewdirective id="homeLI" target="_blank" href="https://youtu.be/SpbRY1IRUko" data-text="Home">Home</a></li>
    <li><a appPreviewdirective id="aboutLI" target="_blank" href="https://youtu.be/SpbRY1IRUko" data-text="About">About</a></li>
    <li><a appPreviewdirective id="projectsLI" target="_blank" href="https://youtu.be/SpbRY1IRUko" data-text="Projects">Projects</a></li>
   <!-- <li><a id="extrasLI" target="_blank" href="https://youtu.be/SpbRY1IRUko" data-text="Extras">Extras</a></li> -->
    <li><a appPreviewdirective id="contactLI" target="_blank" href="https://youtu.be/SpbRY1IRUko" data-text="Contact">Contact</a></li>
  </ul>
</div>
<div id="previewPane"> 
<preview-holder></preview-holder>
</div>